body { margin: 0; font-family: Arial, sans-serif; background-color: #fbbd9b; }

header { background-color: #f8e6c1; display: flex; justify-content: space-between; align-items: center; padding: 10px 20px; }

.logo { width: 80px; }
.foto { width: 50px; border-radius: 50%; }

.contenedor { display: flex; }

aside { width: 200px; background-color: #f8e6c1; padding: 20px; }

main { flex: 1; text-align: center; padding: 30px; }

img { width: 300px; border-radius: 10px; margin: 15px 0; }

button {
  background-color: #8b5e3c;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
