*{


   padding:0;
   margin:0;
   box-sizing: border-box;



}

 body
         {

            background-color: #FFB68B;
         }


header {
  
  height:100px;
  background-color: #F3D3B4;
  color:black;
  padding: 0 20px;
  display:flex;


}


.usuario {

    position: relative;
    top:70px;


}


.estatus{
      
      text-align: center;
      margin-left:100px;
      
}

.MiPerfil{
    margin-top: 40px;
   
}

.Perfil {


     outline:0;
     border:none;
     text-decoration: none;
     color:black;
     margin-right:30px;
     margin-left:200px;
}

.recomendaciones{

    text-align:right;
    margin-top: 40px;
    margin-right:30px;
}


.recomendacion{
    
     border:none;
     text-decoration: none;
     color:black;
     


}

.PlanificacionMetaAlimentaria{


    margin-top: 40px;
    margin-right:20px;
    width:120px;
    white-space: normal;
    word-wrap: break-word;
}

.linkMetaAlimentaria{

     border:none;
     text-decoration: none;
     color:black;
     
}

.InformacionComida{


   margin-top:40px;

}

.linkinfocomida{

     border:none;
     text-decoration: none;
     color:black;
     

}

.ParteAbajo{



   background-color: #95674C;
   display:flex;
   margin-top: 600px;
}


.Separacion{

  display: flex;
  margin-top: 100px;

}

.Contactanos{

   margin-left: 300px;
   margin-top: 10px;
}