*{


   padding:0;
   margin:0;
   box-sizing: border-box;



}

 body
         {

            background-color: #FFB68B;
         }


header {
  
  height:100px;
  background-color: #F3D3B4;
  color:black;
  padding: 0 20px;
  display:flex;


}


.usuario {

    position: relative;
    top:70px;


}


.estatus{
      
      text-align: center;
      margin-left:100px;
      
}

.MiPerfil{
    margin-top: 40px;
   
}

.Perfil {


     outline:0;
     border:none;
     text-decoration: none;
     color:black;
     margin-right:30px;
     margin-left:200px;
}

.recomendaciones{

    text-align:right;
    margin-top: 40px;
    margin-right:30px;
}


.recomendacion{
    
     border:none;
     text-decoration: none;
     color:black;
     


}

.PlanificacionMetaAlimentaria{


    margin-top: 40px;
    margin-right:20px;
    width:120px;
    white-space: normal;
    word-wrap: break-word;
}

.linkMetaAlimentaria{

     border:none;
     text-decoration: none;
     color:black;
     
}

.InformacionComida{


   margin-top:40px;

}

.linkinfocomida{

     border:none;
     text-decoration: none;
     color:black;
     

}



.TituloRegistrar{


    text-align:center;
    margin-top: 30px;

}


.ContenerCuadrado{


    display:flex;
    align-items: center;
    justify-content: center;
}

.Cuadrado{
    
    width:200px;
    height:200px;
    margin-top: 60px;
    background-color: aliceblue;

}


.SeleccionadoTexto{




    text-align:center;
    margin-top:50px;
}

.ContenedorDescripcion{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.Descripcion{


   background-color: #FFEACB;
   width: 600px;
   height: 250px;

}

.BotonConfirmar{
  
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height:40px;
}

.TextoBoton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #95674C;
    width: 300px;
    height:40px;
}



.TituloProgreso{



     text-align: center;
     margin-top:40px;

}

.ContenedorCuadradoGrafico{

  display:flex;
  justify-content: center; 
}

.CuadradoGrafico{


    background-color: aliceblue;
    margin-top:50px;
    width: 200px;
    height: 200px;

}


.ProgresoSeleccionado{


    text-align: center;
    margin-top: 40px;
}




.BotonVolverMenu{
  
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height:40px;
}

.TextoBotonVolver{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #95674C;
    width: 300px;
    height:40px;
}